extends layout.pug

block view
    section(class ="jumbotron text-center pt-1 pb-2")
      div(class = "container")
        div(class = 'row')
          h2 想對誰說幹話?
        div(class = 'row')
          textarea(class="form-control" rows="2") 
            if error 
              |#{error}
            else if !target
              |
            else 
              |身為一位#{target}，#{task}，#{phrase}吧!
          //- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

    div(class ="album" )
      form(action="/" method="POST")
        div(class ="container")
          div(class = "row my-2")
              button(type="submit" class="btn btn-primary  mx-auto") 產生
          div(class ="row card-deck justify-content-center")
            label(class ="card col-md-3 mx-2 p-0 align-items-stretch border-0")
              input(class="form-check-input" type="radio" name="target"  value="engineer" checked = target == '工程師')
              img(class ="card-img-top" src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" alt="angry_engineer")
            label(class ="card col-md-3 mx-2 p-0 align-items-stretch border-0")
              input(class="form-check-input" type="radio" name="target"  value="designer" checked = target == '設計師')
              img(class ="card-img-top " src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" alt="angry_designer")
            label(class ="card col-md-3 mx-2 p-0 align-items-stretch border-0")
              input(class="form-check-input" type="radio" name="target"  value="entrepreneur" checked = target == '創業家')
              img(class ="card-img-top" src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" alt="angry_founder")
          
              //- <button type="submit" class="btn btn-primary">Sign in</button>